/*Styling for entire site*/
html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('../images/sky.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

/*Styling for images*/
img {
    float: left;
}

/*Styling for headers*/
h1 {
    padding-top: 30px;
    font-weight: bold;
    margin-left: 10%;
    color: firebrick;
    text-shadow: 3px 2px 2px orange;
}

h2 {
    margin-left: 50px;
}

h3 {
    margin-left: 10%;
    font-weight: bold;
    color: firebrick;
    text-shadow: 3px 2px 2px orange;
}

/*Paragraph styling*/
p {
    margin-left: 50px;
}

/*Un ordered list styling*/
ul {
    margin-left: 5%;
}

/*Footer styling*/
footer {
    padding-top: 50px;
    text-align: center;
}